<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('assets/style.css') }}">
</head>
<body>

<header>

    <img src="https://static.vecteezy.com/system/resources/thumbnails/023/654/784/small_2x/golden-logo-template-free-png.png" alt="logo">

    <nav>

        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('list_articles') }}">Liste des articles</a></li>
            <li><a href="{{ path('list_categories') }}">Liste des categories</a></li>
        </ul>
    </nav>

</header>


{% block main %}
{% endblock main %}



<footer>
    <p>Copyright EFREI 2025</p>
</footer>

</body>
</html>
